<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Renter List</title>
  {% load static %}
  {% block head %}
    <link rel="stylesheet" href="{% static 'BikeRentalApp/style.css' %}">
  {% endblock %}
</head>
<body>
  <h1>Welcome to Rent-a-Bike!</h1>
  <h2>Renter List</h2>
  <div class="content">
    
    {% block content %}
      {% if renter_list %}
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Vip No</th>
            </tr>
          </thead>
          <tbody>
            {% for renter in renter_list %}
              <tr>
                <td>{{ renter.first_name }}</td>
                <td>{{ renter.last_name }}</td>
                <td>{{ renter.phone }}</td>
                <td>{{ renter.vip_num}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No Renters.</p>
      {% endif %}
    {% endblock %}
    
  </div>
<footer>
  <a href="{% url 'home' %}">Return Home</a>
</footer>
</body>
</html>
